@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

body {
    background-color: #fff;
    color: #181C2E;
    padding: 20px;
    height: 100vh;
}

header {
    display: flex;
    padding: 16px 2%;
    gap: 20px;
    align-items: center;
  }
  
  header a{
    color:#121223;
    font-size: 20px;
    cursor: pointer;
  }

  header H3{
    color:#181C2E;
    font-size: 17px;
  }

  .seta{
    border-radius: 100%;
    background-color: #F0F5FA;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main{
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* ---fORM---- */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 2%;

}

form p{
  font-size: 14px;
  color: #A0A5BA;
  
}

form input{
 width: 100%;
 padding: 20px 4%;
 border-radius: 8px;
 outline: none;
 border: none;
 background-color: #F0F5FA;
}

.infoDow{
  display: flex;
  gap: 28px;
  
}
form p{
  margin: 5%;
 
}
::placeholder {
    color: #A0A5BA;
    font-size: 16px;
    padding: 8px;
    }

  /* ---Botao---- */

input[type="submit"] {
    width: 100%;
    padding: 20px 4%;
    background-color: #FF7622;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    opacity: 0.9;
}